:root {
  --boo-primary: #4ea0ff;
  --boo-secondary: #b1e5f2;
  --boo-text-grey: #898989;
}

body {
  width: 1057px;
  margin: 0px;
}

#site_header {
  background-color: var(--boo-primary);
  background-image: url(/Assets/img/pattern.png);
  background-repeat: repeat-x;
  background-size: 40%;
  height: 100px;
}

#logo {
  position: relative;
  width: 200px;
  top: 40%;
  margin-left: 8px;
}

.container {
  margin-left: 8px;
  margin-right: 8px;
}

.container h1:first-child {
  margin-bottom: 0;
}

#author_credits {
  color: var(--boo-text-grey);
}

#author_credits p {
  margin-top: 0;
}

#author_credits p:first-child {
  margin-bottom: 0;
}

#author_credits p:last-child {
  margin-bottom: 24px;
  font-size: 70%;
}

#author {
  color: var(--boo-primary);
}

#images p {
  font-size: 75%;
  margin-top: 0;
}

.description span{
  background-color: yellow;
}

ul {
  padding: 16px;
}

table {
  width: 100%;
  text-align: left;
  border-spacing: 0;
}

thead {
  background-color: var(--boo-primary);
  color: white;
}

tbody {
  height: 50px;
  font-size: 90%;
  font-weight: bold;
}

.ciano {
  background-color: var(--boo-secondary);
}

.last_column {
  width: 50%;
}

#interests h4:first-child {
  color: var(--boo-text-grey);
  margin-bottom: 12px;
}

#img_1 {
  color: white;
  width: 208px;
  height: 160px;
  background-image: url(/Assets/img/monitor.jpg);
  background-size: cover;
  margin-bottom: 12px;
}

#img_2 {
  color: white;
  width: 208px;
  height: 160px;
  background-image: url(/Assets/img/graph.jpg);
  background-size: cover;
  margin-bottom: 44px;
}

#interests h3 {
  margin-top: 0;
  padding-left: 8px;
  padding-top: 8px;
}

footer {
  text-align: center;
}